#hero {
  padding: 40px;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  margin-top: 3rem;
  background-color: #f5f5f5a1;
}

#hero .hero__one {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
}

#hero .hero__one h2 {
  font-size: 4rem;
}
#hero .hero__one p {
  font-size: 1.1rem;
  color: #c7c7c7;
}
#hero .hero__one p span {
  color: var(--bg-light-blue);
  cursor: pointer;
}

#hero .hero__two {
  width: 60%;
}
#hero .hero__two img {
  width: 100%;
  border-radius: 15px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: grow;
}

@keyframes grow {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}

#courses {
  padding: 40px;
  margin-bottom: 3rem;
}

#courses h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: cursive;
}

#courses .cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

#courses .cards-container .card {
  width: 48%;
  height: 270px;
  padding: 10px;
  border-radius: 15px;
  border: 3px solid var(--bg-gray);
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  transition: 0.2s ease-in-out;
}
#courses .cards-container .card:hover {
  transform: translateY(-10px);
}

#courses .cards-container .card i {
  text-align: center;
  font-size: 3.5rem;
  color: var(--bg-light-blue);
}
#courses .cards-container .card h2 {
  font-size: 2rem;
}
#courses .cards-container .card p {
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 200;
}
#courses .cards-container .card a {
  width: 27%;
}
#courses .cards-container .card a i {
  font-size: 1rem;
  color: var(--text-light);
}

.electronics-courses {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 40px;
  overflow-y: auto;
  display: none;
}

.bi-x {
  font-size: 4rem;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.bi-x:hover {
  transform: rotate(180deg);
}
.electronics-courses .card {
  width: 30%;
  border: 2px solid var(--bg-gray);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.electronics-courses .card h2 {
  margin: 2px 10px;
  text-align: center;
}

.electronics-courses .card img {
  width: 80%;
  height: auto;
  text-align: center;
  align-self: center;
  margin-bottom: 15px;
  border-radius: 10px;
}
.electronics-courses .card p {
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 200;
}

.electronics-courses .card h4 {
  font-size: 1.5rem;
  margin-top: 6px;
  font-weight: 400;
}
span {
  margin-bottom: 5px;
}
span h4 {
  display: inline-block;
}
.electronics-courses .card i {
  color: gold;
  font-size: 1.5rem;
}

.graphics-courses {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 40px;
  overflow-y: auto;
  display: none;
}

.graphics-courses .card {
  width: 30%;
  border: 2px solid var(--bg-gray);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.graphics-courses .card h2 {
  margin: 2px 10px;
  text-align: center;
}

.graphics-courses .card img {
  width: 80%;
  height: auto;
  text-align: center;
  align-self: center;
  margin-bottom: 15px;
  border-radius: 10px;
}
.graphics-courses .card p {
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 200;
}

.graphics-courses .card h4 {
  font-size: 1.5rem;
  margin-top: 6px;
  font-weight: 400;
}
span {
  margin-bottom: 5px;
}
span h4 {
  display: inline-block;
}
.graphics-courses .card i {
  color: gold;
  font-size: 1.5rem;
}

.power-courses {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 40px;
  overflow-y: auto;
  display: none;
}

.power-courses .card {
  width: 30%;
  border: 2px solid var(--bg-gray);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.power-courses .card h2 {
  margin: 2px 10px;
  text-align: center;
}

.power-courses .card img {
  width: 80%;
  height: auto;
  text-align: center;
  align-self: center;
  margin-bottom: 15px;
  border-radius: 10px;
}
.power-courses .card p {
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 200;
}

.power-courses .card h4 {
  font-size: 1.5rem;
  margin-top: 6px;
  font-weight: 400;
}
span {
  margin-bottom: 5px;
}
span h4 {
  display: inline-block;
  font-weight: 400;
}
.power-courses .card i {
  color: gold;
  font-size: 1.5rem;
}

.computer-courses {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 40px;
  overflow-y: auto;
  display: none;
}

.computer-courses .card {
  width: 30%;
  border: 2px solid var(--bg-gray);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.computer-courses .card h2 {
  margin: 2px 10px;
  text-align: center;
}

.computer-courses .card img {
  width: 80%;
  height: auto;
  text-align: center;
  align-self: center;
  margin-bottom: 15px;
  border-radius: 10px;
}

.computer-courses .card p {
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 200;
}

.computer-courses .card h4 {
  font-size: 1.5rem;
  margin-top: 6px;
  font-weight: 400;
}
span {
  margin-bottom: 5px;
}
span h4 {
  display: inline-block;
}
.computer-courses .card i {
  color: gold;
  font-size: 1.5rem;
}
